
import javax.swing.JOptionPane;

/******************************************************************************

*******************************************************************************

*******************************************************************************

                                                                                

                   		         ID INFORMATION                                 

                                                                                

   Programmer                          :		Daimeon Rodriguez, Quang Nguyen                       

   Assignment #                        :                    

   Assignment Name                     :                    

   Course # and Title                  :                    

   Class Meeting Time                  :                    

   Instructor                          :                    

   Hours                               :                    

   Difficulty                          :                    

   Completion Date                     :                    

   File Name                           :                                     



*******************************************************************************

*******************************************************************************



                              PROGRAM DESCRIPTION                   

                   

         

        

        

*******************************************************************************

*******************************************************************************



                           CUSTOM DEFINED METHODS LIST



                                 







*******************************************************************************

*******************************************************************************



                                     MEDIA
        
	rainbow = https://www.tenor.co/view/rainbow-gif-3571154
        thumb = http://imgur.com/gallery/u9CCe  
        question2 = http://www.clipartbest.com/clipart-KcnXL8Ldi*/

                                     

   

      

*******************************************************************************

*******************************************************************************



                                    CREDITS	                        

                                           

            

                                            

              

*******************************************************************************

*******************************************************************************

******************************************************************************/

public class 3tt {

		

		public static void main(String[] args) {

			

			

		}

}



import java.awt.*;   

import javax.swing.*;   

import java.applet.*;

import java.net.URL; 



public class Quang_TeamT

{

   public static void main (String [] Args)

   {

      Quang_TeamT tt = new Quang_TeamT();

      

      tt.do_while_loop();
      tt.loop_For();

   }
       public void do_while_loop(){
        
        String revenge = "",input,input2 = "",input3 = "", user = "";
        
        do{
            
             input = 
                    (String) JOptionPane.showInputDialog(null, "Ok " + user + " what is you favorite sports team?\n"
                                            + "P.S Ill keep asking untill you enter Yankees.", "Do-While Loop", 
                                            JOptionPane.INFORMATION_MESSAGE,null,null, "Yankees");
                 do{
                    
                     JOptionPane.showMessageDialog(null, user + "Thank you for entering you favorite team");
                     input2 = 
                             JOptionPane.showInputDialog(null, "What is you second favorite team?");
                     
                 }while(input2 == "");
                 
                        do{
                            
                            JOptionPane.showMessageDialog(null, "Thank You for enetering your second favorite team");
                            
                            input3 = 
                                    JOptionPane.showInputDialog(null, "What is your rival team?\n"
                                                            + "P.S dont enter Giants or we will stay here");
                        }while(input3 == "Giants" || input3 == "giants");
                        
                                do{
                                    
                                    revenge = 
                                            JOptionPane.showInputDialog(null, "Now I want you to say the " + input2 + " suck");
                                    
                                }while(revenge != "Suck" || revenge != "suck");
            
        }while(input != "Yankees" || input != "yankees");
        
        JOptionPane.showMessageDialog(null, "Congrats you didnt piss me off,\n"
                                          + "with your selection of sports teams");

   

public void loop_For()
   {
 
 //////////////////////////////////////////////////////////////////////////////
      
//	DECLARE  LOCAL VARIABLE/ OBJECT DECLARATION   ////

/////////////////////////////////////////////////////////////////////////////

      
      String favColor = "";
      String numFavColor;
      int color = 0;
      
      ImageIcon rainbow = new ImageIcon ("rainbow1.gif");
      ImageIcon thumb = new ImageIcon ("thumbUP.gif");
      ImageIcon question = new ImageIcon ("question2.gif");
/////////////////////////////////////////////////////////////////////////////      
      
      
      
      
      numFavColor = (String) JOptionPane.showInputDialog (null, "How many favorite colors you have?", 
                                                   "Just Curious...",
                                                   JOptionPane.QUESTION_MESSAGE,question,null, "1");
      
         color = Integer.parseInt ( numFavColor);
      
      
      for ( int num = 0; num < color; num ++ )    //// for loot
      {
         favColor = (String) JOptionPane.showInputDialog (null, "What your favorite color?",
                                                   "Just Curious...",
                                                   JOptionPane.QUESTION_MESSAGE,rainbow, null, "Red");
      
         JOptionPane.showMessageDialog(null, "Wow " + favColor + " is a nice color",
                                             "Nice Color...",
                                             JOptionPane.INFORMATION_MESSAGE,thumb);
      }
   
      
   }

}

