/******************************************************************************
*******************************************************************************
*******************************************************************************
                                                                                
                   		         ID INFORMATION                                 
                                                                                
   Programmer                          :		                       
   Assignment #                        :                    
   Assignment Name                     :                    
   Course # and Title                  :                    
   Class Meeting Time                  :                    
   Instructor                          :                    
   Hours                               :                    
   Difficulty                          :                    
   Completion Date                     :                    
   File Name                           :                                     

*******************************************************************************
*******************************************************************************

                              PROGRAM DESCRIPTION                   
                   
         
        
        
*******************************************************************************
*******************************************************************************

                           CUSTOM DEFINED METHODS LIST

                                 



*******************************************************************************
*******************************************************************************

                                     MEDIA
                                     
   
      
*******************************************************************************
*******************************************************************************

                                    CREDITS	                        
                                           
            
                                            
              
*******************************************************************************
*******************************************************************************
******************************************************************************/
public class 3tt {
		
		public static void main(String[] args) {
			
			
		}
}

import java.awt.*;   
import javax.swing.*;   
import java.applet.*;
import java.net.URL; 

public class Quang_TeamT
{
   public static void main (String [] Args)
   {
      Quang_teamT tt = new Quang_teamT();
      
      
      tt.lootFor();
   }
   
   public void lootFor();
   {
      String favMovie;
      
      JOptionPane.showMessageDialog (null, "Hello");
      
      for ( favMovie != "none"; )
      {
         favMovie = JOptionPane.showInputDialog (null, "What your favorite movie?");
      }




